:root {
  --primary:rgba(251, 185, 28);
  --secondary:  rgba(16, 148, 158);
  --cor-fundo: #F6F1F1;
  --text-dark: #333333;
  --risk-red: #d25151;
  --risk-yellow: #D2C551;
  --risk-green: #51D275;
  --risk-blue: #518CD2;

  --border-radius-sm: 5px;
  --border-radius-md: 10px;

  --font-sm: 16px;
  --font-md: 18px;

  --shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  --headerbar-height: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  list-style-type: none;
  background-color: var(--cor-fundo);
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Estilização da barra de rolagem vertical */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}